In [2]:
import pandas as pd
import numpy as np

In [3]:
# Pandas Series - Like a Table Column - 1 Dimensional Array holding any type of data
my_series = [5, 9, 12, 27]
my_var = pd.Series(my_series)
my_var

0     5
1     9
2    12
3    27
dtype: int64

In [4]:
# Print specific value
my_var[2]

np.int64(12)

In [5]:
# Labels using the index argument
my_index = ["A", "B", "C", "D"]
my_var_2 = pd.Series(my_series, my_index)
my_var_2

A     5
B     9
C    12
D    27
dtype: int64

In [6]:
my_var_2["B"]

np.int64(9)

In [7]:
# Key Value Dictionary
cars = {"Tesla": 12, "Mercedes": 42, "BMX": 3}
my_var_3 = pd.Series(cars)
my_var_3

Tesla       12
Mercedes    42
BMX          3
dtype: int64

In [8]:
my_var_3["Tesla"]

np.int64(12)